# Bangladesh

In [1]:
# import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# load data
# data = pd.read_csv(r'C:\Users\georg\Documents\BPC project\steps_dataset\bangladesh\bgd2018.csv')
data = pd.read_csv('../../steps_dataset/bangladesh/bgd2018.csv')

/Users/ebisong/opt/anaconda3/envs/bpc/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (21,86,121,182,228,243,289,290,314,344,380,398) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data.head()

,pid,psu,stratum,division,urbanrural,wstep1,wstep2,wstep3,agerange,sex,...,b5,b6,b8,b9,b10,b14,b15,b16,b17,ldl
0,E11-1-1,1,102,1,Urban,2289.934326,2289.934326,2225.452881,18-29,0,...,97.0,NaN,179.0,NaN,2.0,37.599998,30.0,105.0,37.0,121.000000
1,E11-10-1,1,102,1,Urban,1202.908813,1202.908813,NaN,45-59,0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E11-100-1,48,101,1,Rural,7604.362305,7604.362305,12915.715820,30-44,0,...,100.0,NaN,168.0,NaN,2.0,21.000000,15.0,140.0,29.0,111.000000
3,E11-101-1,49,101,1,Rural,7710.941895,7710.941895,7493.812012,18-29,0,...,90.0,NaN,134.0,NaN,2.0,29.000000,20.0,68.0,43.0,77.400002
4,E11-102-1,49,101,1,Rural,4049.076172,4049.076172,6877.199219,30-44,0,...,99.0,NaN,231.0,NaN,2.0,235.000000,120.0,235.0,33.0,151.000000

In [4]:
print('Basic Information:')
print(f'Number of rows: {len(data)}')
print(f'Number of columns: {data.shape[1]}')

Basic Information:
Number of rows: 8185
Number of columns: 425

In [5]:
# create final dataframe - this dataframe is to be appended to as we create the new features
cleaned_data = pd.DataFrame()

In [6]:
# append country
country = ['bangladesh'] * data.shape[0]
country = pd.DataFrame({'country': country})
cleaned_data = pd.concat([cleaned_data, country], axis = 1)

In [7]:
# append sex - (category)
cleaned_data = pd.concat([cleaned_data, data['sex']], axis = 1)

In [8]:
# append age - (numeric)
cleaned_data = pd.concat([cleaned_data, data['age']], axis = 1)
cleaned_data['age'] = pd.to_numeric(cleaned_data['age'], errors='coerce')

In [9]:
# append years-at-school - (numeric)
cleaned_data = pd.concat([cleaned_data, data['c4']], axis = 1)
cleaned_data.rename(columns={'c4':'years-at-school'}, inplace=True)
cleaned_data['years-at-school'] = pd.to_numeric(cleaned_data['years-at-school'], errors='coerce')

In [10]:
# append level-of-education - (category)
cleaned_data = pd.concat([cleaned_data, data['c5']], axis = 1)
cleaned_data.rename(columns={'c5':'level-of-education'}, inplace=True)

In [11]:
# append marital-status - (category)
try:
    cleaned_data = pd.concat([cleaned_data, data['c7']], axis = 1)
    cleaned_data.rename(columns={'c7':'marital-status'}, inplace=True)
except KeyError:
    cleaned_data['marital-status'] = np.nan

In [12]:
# append work-status - (category)
try:
    cleaned_data = pd.concat([cleaned_data, data['c8']], axis = 1)
    cleaned_data.rename(columns={'c8':'work-status'}, inplace=True)
except KeyError:
    cleaned_data['work-status'] = np.nan

In [13]:
# append ppl-in-household - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['c9']], axis = 1)
    cleaned_data.rename(columns={'c9':'ppl-in-household'}, inplace=True)
    cleaned_data['ppl-in-household'] = pd.to_numeric(cleaned_data['ppl-in-household'], errors='coerce')
except KeyError:
    cleaned_data['ppl-in-household'] = np.nan

In [14]:
# append earnings per year - (numeric)
try:
        earnings_per_year = []
        for index, row in data.iterrows():
            if row['c10type'] == 'month':
                earnings_per_year.append(int(row['c10']) * 12)
            elif row['c10type'] == 'year':
                earnings_per_year.append(int(row['c10']))
        else:
            earnings_per_year.append(np.nan)
        

        earnings_per_year = pd.DataFrame({'earnings-per-year': earnings_per_year})
        cleaned_data = pd.concat([cleaned_data, earnings_per_year], axis = 1)
        cleaned_data['earnings-per-year'] = pd.to_numeric(cleaned_data['earnings-per-year'], errors='coerce')
except KeyError:
    cleaned_data['earnings-per-year'] = np.nan

In [15]:
# append - Do you currently smoke tobacco products? - (category)
cleaned_data = pd.concat([cleaned_data, data['t1']], axis = 1)
cleaned_data.rename(columns={'t1':'currently-smoke-tobacco'}, inplace=True)

In [16]:
# append - How old were you when you first started smoking? - (numeric)
cleaned_data = pd.concat([cleaned_data, data['t3']], axis = 1)
cleaned_data.rename(columns={'t3':'age-started-smoking'}, inplace=True)
cleaned_data['age-started-smoking'] = pd.to_numeric(cleaned_data['age-started-smoking'], errors='coerce')

In [17]:
# append - Length of time smoking - (numeric)
# for bangladesh, this column is empty
try:
    cleaned_data = pd.concat([cleaned_data, data['t4']], axis = 1)
    cleaned_data.rename(columns={'t4':'length-time-smoking'}, inplace=True)
    cleaned_data['length-time-smoking'] = pd.to_numeric(cleaned_data['length-time-smoking'], errors='coerce')
except KeyError:
    cleaned_data['length-time-smoking'] = np.nan

In [18]:
# append - Number of smoke/ smokeless per day (tobacco products) - (numeric)
# append - What type of tobacco do you use? - (category)
number_tobacco = []
type_tobacco = []

for index, row in data.iterrows():
    tobacco = []
    tobacco.append(int(row['t5a'])) if row['t5a'].is_integer() else  tobacco.append(0)
    tobacco.append(round(int(row['t5aw']) / 7, 0)) if row['t5aw'].is_integer() else  tobacco.append(0)
    tobacco.append(int(row['t5b'])) if row['t5b'].is_integer() else  tobacco.append(0)
    tobacco.append(round(int(row['t5bw']) / 7, 0)) if row['t5bw'].is_integer() else  tobacco.append(0)
    tobacco.append(int(row['t5c'])) if row['t5c'].is_integer() else  tobacco.append(0)
    tobacco.append(round(int(row['t5cw']) / 7, 0)) if row['t5cw'].is_integer() else  tobacco.append(0)
    tobacco.append(int(row['t5d'])) if row['t5d'].is_integer() else  tobacco.append(0)
    tobacco.append(round(int(row['t5dw']) / 7, 0)) if row['t5dw'].is_integer() else  tobacco.append(0)
    tobacco.append(int(row['t5e'])) if row['t5e'].is_integer() else  tobacco.append(0)
    tobacco.append(round(int(row['t5ew']) / 7, 0)) if row['t5ew'].is_integer() else  tobacco.append(0)
    tobacco.append(int(row['t5f'])) if row['t5f'].is_integer() else  tobacco.append(0)
    tobacco.append(round(int(row['t5fw']) / 7, 0)) if row['t5fw'].is_integer() else  tobacco.append(0)
    tobacco.append(int(row['t5g'])) if row['t5g'].is_integer() else  tobacco.append(0)
    tobacco.append(round(int(row['t5gw']) / 7, 0)) if row['t5gw'].is_integer() else  tobacco.append(0)
    
    number_tobacco.append(max(tobacco)) if max(tobacco) != 0 else number_tobacco.append(np.nan)
    
    # type of tobacco
    index = tobacco.index(max(tobacco)) if max(tobacco) != 0 else 99
    
    if index == 0 or index == 1:
        type_tobacco.append('manufactured cigarettes')
    elif index == 2 or index == 3:
        type_tobacco.append('Bidis')
    elif index == 4 or index == 5:
        type_tobacco.append('Hookah/Dhaba')
    elif index == 6 or index == 7:
        type_tobacco.append('tobacco pipes')
    elif index == 8 or index == 9:
        type_tobacco.append('hand-rolled cigarettes')
    elif index == 10 or index == 11:
        type_tobacco.append('cigars, cheroots, cigarillos')
    elif index == 12 or index == 13:
        type_tobacco.append('shisha')
    elif index == 14 or index == 15:
        type_tobacco.append('other tobacco product')
    else:
        type_tobacco.append('none')
        
# append number of tobacco
number_tobacco = pd.DataFrame({'number-tobacco': number_tobacco})
cleaned_data = pd.concat([cleaned_data, number_tobacco], axis = 1)
cleaned_data['number-tobacco'] = pd.to_numeric(cleaned_data['number-tobacco'], errors='coerce')

# append type of robacco
type_tobacco = pd.DataFrame({'type-tobacco': type_tobacco})
cleaned_data = pd.concat([cleaned_data, type_tobacco], axis = 1)

In [19]:
# append - How old when you stopped smoking (weeks) - (numeric)
age_stopped_smoking = []
try:
    for index, row in data.iterrows():    
        if row['t10'].is_integer():
            age_stopped_smoking.append(int(row['t10'])) if int(row['t10']) != 77 else age_stopped_smoking.append(np.nan)
        else:
            age_stopped_smoking.append(np.nan)
                
            
    age_stopped_smoking = pd.DataFrame({'age-stopped-smoking': age_stopped_smoking})
    cleaned_data = pd.concat([cleaned_data, age_stopped_smoking], axis = 1)
    cleaned_data['age-stopped-smoking'] = pd.to_numeric(cleaned_data['age-stopped-smoking'], errors='coerce')
except KeyError:
    cleaned_data['age-stopped-smoking'] = np.nan

In [20]:
# append - Smoke in home or workplace? - (category)
try:
    smoke_home_workplace = []
    for index, row in data.iterrows():
        if row['t17'].isdigit() or row['t17'].isdigit():
            if int(row['t17']) == 1 or int(row['t18']) == 1:
                smoke_home_workplace.append(1)
            else:
                smoke_home_workplace.append(2)
        else:
            smoke_home_workplace.append(np.nan)
            
    smoke_home_workplace = pd.DataFrame({'smoke-home-workplace': smoke_home_workplace})
    cleaned_data = pd.concat([cleaned_data, smoke_home_workplace], axis = 1)
except KeyError:
    cleaned_data['smoke-home-workplace'] = np.nan

In [21]:
# append - How you ever consumed alcohol? - (category)
consumed_alcohol = []
for index, row in data.iterrows():
    if isinstance(row['a1'], int):
        consumed_alcohol.append(int(row['a1']))
    else:
        consumed_alcohol.append(np.nan)
        
consumed_alcohol = pd.DataFrame({'consumed-alcohol': consumed_alcohol})
cleaned_data = pd.concat([cleaned_data, consumed_alcohol], axis = 1)

In [22]:
# append - Have you stopped drinking due to health reasons? - (category)
quit_drinking_for_health = []
for index, row in data.iterrows():
    if isinstance(row['a3'], int):
        quit_drinking_for_health.append(int(row['a3']))
    else:
        quit_drinking_for_health.append(np.nan)
        
quit_drinking_for_health = pd.DataFrame({'quit-drinking-for-health': quit_drinking_for_health})
cleaned_data = pd.concat([cleaned_data, quit_drinking_for_health], axis = 1)

In [23]:
# append - How many alcoholic drinks do you consume per day? - (category)
number_alcoholic_drinks = []
for index, row in data.iterrows():
    if isinstance(row['a4'], int):
        number_alcoholic_drinks.append(int(row['a4']))
    else:
        number_alcoholic_drinks.append(np.nan)
        
number_alcoholic_drinks = pd.DataFrame({'number-alcoholic-drinks': number_alcoholic_drinks})
cleaned_data = pd.concat([cleaned_data, number_alcoholic_drinks], axis = 1)

In [24]:
# append - How many fruit/ vegetables do you eat per day? - (numeric)
number_daily_fruit_vegetables = []
for index, row in data.iterrows():
    fruit = 0
    vegetable = 0
    
    # fruit
    if isinstance(row['d1'], int):
        if isinstance(row['d2'], int):
            fruit = int(row['d1']) * int(row['d2'])
    else:
            fruit = 0
    
    # vegetables
    if isinstance(row['d3'], int):
        if isinstance(row['d4'], int):
            vegetable = int(row['d3']) * int(row['d4'])
    else:
            vegetable = 0
            
    number_daily_fruit_vegetables.append(fruit + vegetable)
        
number_daily_fruit_vegetables = pd.DataFrame({'number-daily-fruit-vegetables': number_daily_fruit_vegetables})
cleaned_data = pd.concat([cleaned_data, number_daily_fruit_vegetables], axis = 1)

In [25]:
# append - How much salt or salty sauce do you think you consume?  - (category)
try:
    cleaned_data = pd.concat([cleaned_data, data['d8a']], axis = 1)
    cleaned_data.rename(columns={'d8a':'salt-consumption'}, inplace=True)
except KeyError:
    cleaned_data['salt-consumption'] = np.nan

In [26]:
# append - How intense is your work [vigorous- intensity, moderate-intensity, none]? - (cateogry)
work_intensity = []
for index, row in data.iterrows():
    if isinstance(row['p1'], int) or isinstance(row['p4'], int):
        if isinstance(row['p1'], int) and int(row['p1']) == 1:
            work_intensity.append('vigorous-intensity')
        elif isinstance(row['p4'], int) and int(row['p4']) == 1 and int(row['p1']) != 1:
            work_intensity.append('moderate-intensity')
        else:
             work_intensity.append('none')
    else:
        work_intensity.append(np.nan)
        
work_intensity = pd.DataFrame({'work-intensity': work_intensity})
cleaned_data = pd.concat([cleaned_data, work_intensity], axis = 1)

In [27]:
# append - In a typical week, on how many days do you do moderate or vigorous-intensity activities as part of your work? - (numeric)
days_vigorous_exercise = []
cleaned_data = pd.concat([cleaned_data, data['p2']], axis = 1)
cleaned_data.rename(columns={'p2':'days-vigorous-exercise'}, inplace=True)
cleaned_data['days-vigorous-exercise'] = pd.to_numeric(cleaned_data['days-vigorous-exercise'], errors='coerce')

days_moderate_exercise = []
cleaned_data = pd.concat([cleaned_data, data['p5']], axis = 1)
cleaned_data.rename(columns={'p5':'days-moderate-exercise'}, inplace=True)
cleaned_data['days-moderate-exercise'] = pd.to_numeric(cleaned_data['days-moderate-exercise'], errors='coerce')

In [28]:
# append - How much time do you spend walking or bicycling for travel on a typical day? - (numeric)
time_walking_bicycling_minutes = []

for index, row in data.iterrows():
    if row['p9a'].is_integer() or row['p9b'].is_integer():
        hour_to_minute = minute = 0
         
        if row['p9a'].is_integer():
            hour_to_minute = int(row['p9a']) * 60
        elif row['p9b'].is_integer():
            minute = int(row['p9b'])
        
        time_walking_bicycling_minutes.append(hour_to_minute + minute)
    else:
        time_walking_bicycling_minutes.append(np.nan)
        
time_walking_bicycling_minutes = pd.DataFrame({'time-walking-bicycling-minutes': time_walking_bicycling_minutes})
cleaned_data = pd.concat([cleaned_data, time_walking_bicycling_minutes], axis = 1)

In [29]:
# append - How much time do you usually spend sitting or reclining on a typical day? - (numeric)
time_sedentary = []

for index, row in data.iterrows():
    if isinstance(row['p16a'], int) or row['p16b'].is_integer():
        hour_to_minute = minute = 0
         
        if isinstance(row['p16a'], int):
            hour_to_minute = int(row['p16a']) * 60
        elif row['p16b'].is_integer():
            minute = int(row['p16b'])
        
        time_sedentary.append(hour_to_minute + minute)
    else:
        time_sedentary.append(np.nan)
        
time_sedentary = pd.DataFrame({'time-sedentary': time_sedentary})
cleaned_data = pd.concat([cleaned_data, time_sedentary], axis = 1)

In [30]:
# append - Have you ever had your blood pressure measured by a doctor or other health worker? - (category)
try:
    cleaned_data = pd.concat([cleaned_data, data['h2a']], axis = 1)
    cleaned_data.rename(columns={'h2a':'had-blood-pressure-measurement'}, inplace=True)
except KeyError:
    cleaned_data['had-blood-pressure-measurement'] = np.nan

In [31]:
# append - Have you taken any drugs (medication) for raised blood pressure? - (category)
cleaned_data = pd.concat([cleaned_data, data['h3']], axis = 1)
cleaned_data.rename(columns={'h3':'taken-drugs-for-raised-bp'}, inplace=True)
cleaned_data['taken-drugs-for-raised-bp'] = pd.to_numeric(cleaned_data['taken-drugs-for-raised-bp'], errors='coerce')

In [32]:
# append - Have you ever had your blood sugar measured by a doctor or other health worker? - (category)
try:
    cleaned_data = pd.concat([cleaned_data, data['h6']], axis = 1)
    cleaned_data.rename(columns={'h6':'had-blood-sugar-measurement'}, inplace=True)
    cleaned_data['had-blood-sugar-measurement'] = pd.to_numeric(cleaned_data['had-blood-sugar-measurement'], errors='coerce')
except KeyError:
    cleaned_data['had-blood-sugar-measurement'] = np.nan

In [33]:
# append - Have you taken any drugs (medication) for diabetes? - (category)
cleaned_data = pd.concat([cleaned_data, data['h8']], axis = 1)
cleaned_data.rename(columns={'h8':'taken-diabetes-drugs'}, inplace=True)
cleaned_data['taken-diabetes-drugs'] = pd.to_numeric(cleaned_data['taken-diabetes-drugs'], errors='coerce')

In [34]:
# append - Have you ever had your cholesterol (fat levels in your blood) measured by a doctor or other health worker? - (category)
try:
    cleaned_data = pd.concat([cleaned_data, data['h12']], axis = 1)
    cleaned_data.rename(columns={'h12':'had-cholesterol-measurement'}, inplace=True)
    cleaned_data['had-cholesterol-measurement'] = pd.to_numeric(cleaned_data['had-cholesterol-measurement'], errors='coerce')
except KeyError:
    cleaned_data['had-cholesterol-measurement'] = np.nan

In [35]:
# append - Have you taken any oral treatment (medication) for raised total cholesterol? - (category)
try:
    cleaned_data = pd.concat([cleaned_data, data['h14']], axis = 1)
    cleaned_data.rename(columns={'h14':'taken-cholesterol-oral-treatment'}, inplace=True)
    cleaned_data['taken-cholesterol-oral-treatment'] = pd.to_numeric(cleaned_data['taken-cholesterol-oral-treatment'], errors='coerce')
except KeyError:
    cleaned_data['taken-cholesterol-oral-treatment'] = np.nan

In [36]:
# append - Have you ever had a heart attack or chest pain from heart disease (angina) or a stroke (cerebrovascular accident or incident)? - (category)
try:
    cleaned_data = pd.concat([cleaned_data, data['h17']], axis = 1)
    cleaned_data.rename(columns={'h17':'had-heart-attack'}, inplace=True)
    cleaned_data['had-heart-attack'] = pd.to_numeric(cleaned_data['had-heart-attack'], errors='coerce')
except KeyError:
    cleaned_data['had-heart-attack'] = np.nan

In [37]:
# append - Are you currently taking medication to prevent or treat heart disease? - (category)
try:
    cleaned_data = pd.concat([cleaned_data, data['h18']], axis = 1)
    cleaned_data.rename(columns={'h18':'taking-heart-disease-medication'}, inplace=True)
    cleaned_data['taking-heart-disease-medication'] = pd.to_numeric(cleaned_data['taking-heart-disease-medication'], errors='coerce')
except KeyError:
    cleaned_data['taking-heart-disease-medication'] = np.nan

In [38]:
# append - Reading 1 [Systolic, Diastolic] - (numeric)

# systolic
cleaned_data = pd.concat([cleaned_data, data['m4a']], axis = 1)
cleaned_data.rename(columns={'m4a':'reading1-systolic'}, inplace=True)
cleaned_data['reading1-systolic'] = pd.to_numeric(cleaned_data['reading1-systolic'], errors='coerce')

# diastolic
cleaned_data = pd.concat([cleaned_data, data['m4b']], axis = 1)
cleaned_data.rename(columns={'m4b':'reading1-diastolic'}, inplace=True)
cleaned_data['reading1-diastolic'] = pd.to_numeric(cleaned_data['reading1-diastolic'], errors='coerce')

In [39]:
# append - Reading 2 [Systolic, Diastolic] - (numeric)

# systolic
cleaned_data = pd.concat([cleaned_data, data['m5a']], axis = 1)
cleaned_data.rename(columns={'m5a':'reading2-systolic'}, inplace=True)
cleaned_data['reading2-systolic'] = pd.to_numeric(cleaned_data['reading2-systolic'], errors='coerce')

# diastolic
cleaned_data = pd.concat([cleaned_data, data['m5b']], axis = 1)
cleaned_data.rename(columns={'m5b':'reading2-diastolic'}, inplace=True)
cleaned_data['reading2-diastolic'] = pd.to_numeric(cleaned_data['reading2-diastolic'], errors='coerce')

In [40]:
# append - Reading 3 [Systolic, Diastolic] - (numeric)

# systolic
cleaned_data = pd.concat([cleaned_data, data['m6a']], axis = 1)
cleaned_data.rename(columns={'m6a':'reading3-systolic'}, inplace=True)
cleaned_data['reading3-systolic'] = pd.to_numeric(cleaned_data['reading3-systolic'], errors='coerce')

# diastolic
cleaned_data = pd.concat([cleaned_data, data['m6b']], axis = 1)
cleaned_data.rename(columns={'m6b':'reading3-diastolic'}, inplace=True)
cleaned_data['reading3-diastolic'] = pd.to_numeric(cleaned_data['reading3-diastolic'], errors='coerce')

In [41]:
# append - Have you been treated for raised blood pressure? - (category)
try:
    cleaned_data = pd.concat([cleaned_data, data['m7']], axis = 1)
    cleaned_data.rename(columns={'m7':'treated-for-raised-bp'}, inplace=True)
    cleaned_data['treated-for-raised-bp'] = pd.to_numeric(cleaned_data['treated-for-raised-bp'], errors='coerce')
except KeyError:
    cleaned_data['treated-for-raised-bp'] = np.nan

In [42]:
# append - For women: Are you pregnant? - (category)
cleaned_data = pd.concat([cleaned_data, data['m8']], axis = 1)
cleaned_data.rename(columns={'m8':'are-you-pregnant'}, inplace=True)
cleaned_data['are-you-pregnant'] = pd.to_numeric(cleaned_data['are-you-pregnant'], errors='coerce')

In [43]:
# append - Height - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['m11']], axis = 1)
    cleaned_data.rename(columns={'m11':'height'}, inplace=True)
    cleaned_data['height'] = pd.to_numeric(cleaned_data['height'], errors='coerce')
except KeyError:
    cleaned_data['height'] = np.nan

In [44]:
# append - Weight - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['m12']], axis = 1)
    cleaned_data.rename(columns={'m12':'weight'}, inplace=True)
    cleaned_data['weight'] = pd.to_numeric(cleaned_data['weight'], errors='coerce')
except KeyError:
    cleaned_data['weight'] = np.nan

In [45]:
# append - Waist circumference - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['m14']], axis = 1)
    cleaned_data.rename(columns={'m14':'waist-circumference'}, inplace=True)
    cleaned_data['waist-circumference'] = pd.to_numeric(cleaned_data['waist-circumference'], errors='coerce')
except KeyError:
    cleaned_data['waist-circumference'] = np.nan

In [46]:
# append - hip circumference - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['m15']], axis = 1)
    cleaned_data.rename(columns={'m15':'hip-circumference'}, inplace=True)
    cleaned_data['hip-circumference'] = pd.to_numeric(cleaned_data['hip-circumference'], errors='coerce')
except KeyError:
    cleaned_data['hip-circumference'] = np.nan

In [47]:
# append - Reading 1 (beats per minute) - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['m16a']], axis = 1)
    cleaned_data.rename(columns={'m16a':'reading1-bpm'}, inplace=True)
    cleaned_data['reading1-bpm'] = pd.to_numeric(cleaned_data['reading1-bpm'], errors='coerce')
except KeyError:
    cleaned_data['reading1-bpm'] = np.nan

In [48]:
# append - Reading 2 (beats per minute) - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['m16b']], axis = 1)
    cleaned_data.rename(columns={'m16b':'reading2-bpm'}, inplace=True)
    cleaned_data['reading2-bpm'] = pd.to_numeric(cleaned_data['reading2-bpm'], errors='coerce')
except KeyError:
    cleaned_data['reading2-bpm'] = np.nan

In [49]:
# append - Reading 3 (beats per minute) - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['m16c']], axis = 1)
    cleaned_data.rename(columns={'m16c':'reading3-bpm'}, inplace=True)
    cleaned_data['reading3-bpm'] = pd.to_numeric(cleaned_data['reading3-bpm'], errors='coerce')
except KeyError:
    cleaned_data['reading3-bpm'] = np.nan

In [50]:
# append - Fasting blood glucose - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['b5']], axis = 1)
    cleaned_data.rename(columns={'b5':'fasting-blood-glucose'}, inplace=True)
    cleaned_data['fasting-blood-glucose'] = pd.to_numeric(cleaned_data['fasting-blood-glucose'], errors='coerce')
except KeyError:
    cleaned_data['fasting-blood-glucose'] = np.nan

In [51]:
# append - Total cholesterol - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['b8']], axis = 1)
    cleaned_data.rename(columns={'b8':'total-cholesterol'}, inplace=True)
    cleaned_data['total-cholesterol'] = pd.to_numeric(cleaned_data['total-cholesterol'], errors='coerce')
except KeyError:
    cleaned_data['total-cholesterol'] = np.nan

In [52]:
# append - Urinary sodium - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['b14']], axis = 1)
    cleaned_data.rename(columns={'b14':'urinary-sodium'}, inplace=True)
    cleaned_data['urinary-sodium'] = pd.to_numeric(cleaned_data['urinary-sodium'], errors='coerce')
except KeyError:
    cleaned_data['urinary-sodium'] = np.nan

In [53]:
# append - Urinary creatinine - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['b15']], axis = 1)
    cleaned_data.rename(columns={'b15':'urinary-creatinine'}, inplace=True)
    cleaned_data['urinary-creatinine'] = pd.to_numeric(cleaned_data['urinary-creatinine'], errors='coerce')
except KeyError:
    cleaned_data['urinary-creatinine'] = np.nan

In [54]:
# append - Triglycerides - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['b16']], axis = 1)
    cleaned_data.rename(columns={'b16':'triglycerides'}, inplace=True)
    cleaned_data['triglycerides'] = pd.to_numeric(cleaned_data['triglycerides'], errors='coerce')
except KeyError:
    cleaned_data['triglycerides'] = np.nan

In [55]:
# append - hdl-cholesterol - (numeric)
try:
    cleaned_data = pd.concat([cleaned_data, data['b17']], axis = 1)
    cleaned_data.rename(columns={'b17':'hdl-cholesterol'}, inplace=True)
    cleaned_data['hdl-cholesterol'] = pd.to_numeric(cleaned_data['hdl-cholesterol'], errors='coerce')
except KeyError:
    cleaned_data['hdl-cholesterol'] = np.nan

In [56]:
cleaned_data.head(20)
# cleaned_data.tail(20)

,country,sex,age,years-at-school,level-of-education,marital-status,work-status,ppl-in-household,earnings-per-year,currently-smoke-tobacco,...,hip-circumference,reading1-bpm,reading2-bpm,reading3-bpm,fasting-blood-glucose,total-cholesterol,urinary-sodium,urinary-creatinine,triglycerides,hdl-cholesterol
0,bangladesh,0,22,0,1,2,12,NaN,NaN,2,...,88.0,64.0,61.0,72.0,97.0,179.0,37.599998,30.0,105.0,37.0
1,bangladesh,0,50,12,5,2,1,NaN,NaN,2,...,96.0,88.0,80.0,87.0,NaN,NaN,NaN,NaN,NaN,NaN
2,bangladesh,0,39,0,1,2,12,NaN,NaN,2,...,92.0,96.0,91.0,91.0,100.0,168.0,21.000000,15.0,140.0,29.0
3,bangladesh,0,29,0,1,2,12,NaN,NaN,2,...,98.0,96.0,95.0,92.0,90.0,134.0,29.000000,20.0,68.0,43.0
4,bangladesh,0,32,9,3,2,12,NaN,NaN,2,...,93.0,85.0,82.0,82.0,99.0,231.0,235.000000,120.0,235.0,33.0
5,bangladesh,0,33,9,3,2,12,NaN,NaN,2,...,80.0,88.0,72.0,72.0,72.0,156.0,49.000000,10.0,87.0,40.0
6,bangladesh,0,42,8,3,2,12,NaN,NaN,2,...,90.0,70.0,89.0,69.0,86.0,195.0,104.000000,20.0,117.0,60.0
7,bangladesh,0,31,0,1,2,12,NaN,NaN,2,...,NaN,96.0,93.0,93.0,70.0,204.0,165.000000,45.0,210.0,55.0
8,bangladesh,0,51,0,1,2,12,NaN,NaN,2,...,88.0,78.0,72.0,71.0,96.0,165.0,152.000000,60.0,62.0,45.0
9,bangladesh,0,31,5,3,2,12,NaN,NaN,2,...,96.0,88.0,89.0,89.0,90.0,180.0,160.000000,270.0,91.0,40.0
10,bangladesh,0,36,0,1,2,12,NaN,NaN,2,...,77.0,99.0,95.0,95.0,99.0,94.0,56.000000,30.0,45.0,29.0
11,bangladesh,0,65,0,1,5,12,NaN,NaN,2,...,97.0,101.0,101.0,118.0,76.0,329.0,151.000000,45.0,396.0,38.0
12,bangladesh,0,40,0,1,2,12,NaN,NaN,2,...,95.0,84.0,81.0,87.0,NaN,NaN,NaN,NaN,NaN,NaN
13,bangladesh,0,19,7,3,2,12,NaN,NaN,2,...,87.0,79.0,79.0,79.0,72.0,171.0,16.000000,40.0,79.0,44.0
14,bangladesh,0,22,5,3,2,12,NaN,NaN,2,...,89.0,119.0,119.0,117.0,101.0,182.0,83.000000,50.0,60.0,48.0
15,bangladesh,0,39,5,3,2,12,NaN,NaN,2,...,91.0,100.0,109.0,109.0,93.0,226.0,97.000000,35.0,97.0,48.0
16,bangladesh,0,29,0,1,2,12,NaN,NaN,2,...,91.0,83.0,83.0,83.0,102.0,140.0,152.000000,125.0,55.0,34.0
17,bangladesh,0,30,5,3,2,12,NaN,NaN,2,...,97.0,75.0,76.0,76.0,94.0,183.0,170.000000,145.0,71.0,48.0
18,bangladesh,0,30,5,3,2,12,NaN,NaN,2,...,86.0,78.0,78.0,78.0,94.0,146.0,34.000000,20.0,77.0,37.0
19,bangladesh,0,33,0,1,2,12,NaN,NaN,2,...,86.0,78.0,69.0,69.0,99.0,134.0,96.000000,40.0,59.0,42.0

In [57]:
cleaned_data.shape

(8185, 55)

In [58]:
cleaned_data.columns

Index(['country', 'sex', 'age', 'years-at-school', 'level-of-education',
       'marital-status', 'work-status', 'ppl-in-household',
       'earnings-per-year', 'currently-smoke-tobacco', 'age-started-smoking',
       'length-time-smoking', 'number-tobacco', 'type-tobacco',
       'age-stopped-smoking', 'smoke-home-workplace', 'consumed-alcohol',
       'quit-drinking-for-health', 'number-alcoholic-drinks',
       'number-daily-fruit-vegetables', 'salt-consumption', 'work-intensity',
       'days-vigorous-exercise', 'days-moderate-exercise',
       'time-walking-bicycling-minutes', 'time-sedentary',
       'had-blood-pressure-measurement', 'taken-drugs-for-raised-bp',
       'had-blood-sugar-measurement', 'taken-diabetes-drugs',
       'had-cholesterol-measurement', 'taken-cholesterol-oral-treatment',
       'had-heart-attack', 'taking-heart-disease-medication',
       'reading1-systolic', 'reading1-diastolic', 'reading2-systolic',
       'reading2-diastolic', 'reading3-systolic', 'reading3-diastolic',
       'treated-for-raised-bp', 'are-you-pregnant', 'height', 'weight',
       'waist-circumference', 'hip-circumference', 'reading1-bpm',
       'reading2-bpm', 'reading3-bpm', 'fasting-blood-glucose',
       'total-cholesterol', 'urinary-sodium', 'urinary-creatinine',
       'triglycerides', 'hdl-cholesterol'],
      dtype='object')

### Export cleaned data as csv

In [59]:
cleaned_data.to_csv('../../cleaned_data/bangladesh.csv', encoding='utf-8', index=False)

# End